html {
    background-color: hsl(243, 96%, 9%);
}
body {
    background-color: hsl(243, 96%, 9%);
    font-family: "Manrope", sans-serif;
    font-size: 18px;
    max-width: 1440px;
    margin: 0 auto;
    padding: 50px 120px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.units {
    position: relative;
}

.units__button {
    border: none;
    border-radius: 10px;
    padding: 10px 20px;

    background-color: hsl(243, 27%, 20%);
    font-weight: 400;
    letter-spacing: 1px;
    color: hsl(250, 6%, 84%);

    display: flex;
    gap: 10px;
}

.units__icon {
    width: 20px;
}

.units__list {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 10;
    margin-top: 15px;
    padding: 5px 10px 5px;
    border: 1px solid hsl(243, 23%, 24%);
    border-radius: 10px;
    background-color: hsl(243, 27%, 20%);
}

.units__item {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    margin: 5px 0 11px 0;
}
.units__item:hover {
    background-color: hsl(243, 27%, 27%);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.25s;

}
.units__item--btn {
    background-color: inherit;
    text-align: left;
    color: hsl(250, 6%, 84%);
    font-weight: 500;
    letter-spacing: 0.9px;
}

.units__category {
    padding: 8px;
    color: hsl(240, 6%, 70%);
    letter-spacing: 0.9px;
    border-top: 1px solid hsl(243, 27%, 27%);
}

.main {
    display: grid;
    grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);

    grid-template-areas: 
    "title title"
    "search search"
    "today hourly"
    "daily hourly";

    gap: 30px;
}

.main__title {
    grid-area: title;
    padding-top: 50px;

    font-family: "Raleway", sans-serif;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 1.5px;
    color: white;
    text-align: center;
}

.search {
    grid-area: search;

    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.search__field {
    position: relative;
}

.search__input {
    padding-left: 50px;
    min-width: 507px;
    min-height: 48px;
    border-radius: 10px;

    background-color: hsl(243, 27%, 20%);
    font-weight: 400;
    letter-spacing: 1px;
    color: white;
}
.search__input::placeholder {
    font-weight: 400;
    letter-spacing: 1px;
    color: hsl(250, 6%, 84%);
}

.search__img {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.search__button {
    border: none;
    border-radius: 10px;
    background-color: hsl(233, 67%, 56%);
    padding: 12px 18px;

    color: white;
    font-weight: 400;
    letter-spacing: 1px;
}


.today {
    grid-area: today;
}

.today__card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;

    background-image: url("../assets/images/bg-today-large.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;

    width: 100%;
    min-height: 286px;
}

.today__info{
    color: white;
    letter-spacing: 1px;
    line-height: 1.75;
}

.today__city, .today__country {
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 1.5px;
}

.today__weather {
    display: inline-flex;
    align-items: center;
}

.today__icon{
    width: 120px;
}

.today__degrees {
    color: white;
    font-size: 100px;
    font-weight: 700;
}

.today__list {
    margin-top: 30px;
    display: flex;
    gap: 20px;
}

.today__item {
    flex: 1;
    min-width: 0;
    min-height: 120px;

    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid hsl(243, 23%, 24%);
    border-radius: 10px;
    background-color: hsl(243, 27%, 20%);

    letter-spacing: 0.9px;
}

.today__label, .daily__min {
    color: hsl(250, 6%, 84%);
}

.today__value {
    margin-top: auto;
    color: white;
    font-size: 25px;
}

.daily {
    grid-area: daily;
}

.daily__title {
    margin: 5px 0 15px 0;
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
}

.daily__items {
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    gap: 16.6px;
}
.daily__item {
    min-width: 0;
}
.daily__button {
    display: flex;
    flex-direction: column;

    width: 100%;
    min-width: 0;
    min-height: 150px;
    padding: 15px 10px;

    border: 1px solid hsl(243, 23%, 24%);
    border-radius: 10px;
    background-color: hsl(243, 27%, 20%);
}

.daily__button:hover {
    background-color: hsl(243, 27%, 30%);
    transition: 0.25s;
}

.daily__degrees {
    margin-top: auto;

    display: flex;
    justify-content: space-between;
}

.daily__label, .daily__max {
    color: white;
}

.daily__icon {
    width: 70px;
    max-width: 100%;
    margin: auto;
}

.hourly {
    grid-area: hourly;

    min-width: 0;
    width: 100%;

    padding: 20px 0 20px 20px;
    background-color: hsl(243, 27%, 20%);
    border-radius: 20px;
}

.hourly__title {
    padding: 0 20px 20px 0;
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
}

.hourly__list {
    max-height: 576px;
    overflow-y: auto;
}

.hourly__list::-webkit-scrollbar {
    width: 7px;
}
.hourly__list::-webkit-scrollbar-track {
    background-color: inherit;
}
.hourly__list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: hsl(243, 23%, 30%);
}
.hourly__list::-webkit-scrollbar-thumb:hover {
    background-color: hsl(243, 23%, 40%)
}

.hourly__items {
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    gap: 16.6px;
}

.hourly__item {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;

    min-width: 0;
    padding: 5px 15px 5px 10px;

    background-color: hsl(243, 27%, 27%);
    border: 1px solid hsl(243, 27%, 32%);
    border-radius: 10px;
}

.hourly__info {
    display: inline-flex;
    align-items: center;
    min-width: 0;
}

.hourly__icon {
    width: 50px;
}

.hourly__time {
    padding-left: 10px;
    font-size: 20px;
    letter-spacing: 1px;
    color: white;
}
.hourly__degree {
    color: white;
}



/* RESPONSIVE */

@media (max-width: 1200px) {

    body {
        max-width: 375px;
        padding: 25px 20px
    }

    .units__title {
        display: none;
    }
    .units__list {
        margin-top: 10px;
        font-size: 15px;
    }
    .units__item {
        padding: 5px;
        margin: 3px 0px 8px;
    }

    .main {
    display: grid;
    grid-template-columns: minmax(0, 1fr);

    grid-template-areas: 
    "title"
    "search"
    "today"
    "daily"
    "hourly";

    gap: 25px;
    }

    .search {
        flex-direction: column;
        margin: 10px 0;
    }
    .search__input {
        min-width: 330px;
        min-height: 50px;
    }
    .search__button {
        min-width: 330px;
        min-height: 50px;
    }

    .today__card {
        background-image: url("../assets/images/bg-today-small.svg");
        flex-direction: column;
        text-align: center;
        padding: 25px 30px; 
    }
    .today__info {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .today__city, .today__country {
        font-size: 21px;
        line-height: 0.5px;
    }
    .today__day {
        font-size: 15px;
    }
    .today__weather {
        gap: 15px;
    }

    .today__list {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 15px;
    }

    .daily__items {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 12px;
    }



}